Package: com.gilshahar7.pearlretry
Section: Tweaks
Installed-Size: 340
Maintainer: gilshahar7
Architecture: iphoneos-arm
Version: 1.1
Depends: mobilesubstrate
Description: Retry FaceID when failed to recognize.
Name: PearlRetry
Author: gilshahar7
